body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;    
    background: linear-gradient(#466788 1%,#9acd9a 100%),#9acd9a;
    background-repeat: no-repeat;
}

header {
    margin-bottom: 50px;
    background: linear-gradient(to bottom right, #4f8846, #d6c612);
    border-width: 5px 0px 5px 0px;
    border-style: solid;
    border-color: #cebe22;
}

header #image {
    height: 10px;
    padding: 35px;
    background-image: url('../img/penguin.png'), url('../img/pat2.png');
    background-position: right top, left top;
    background-repeat: no-repeat, repeat;
    background-size: 230px, auto;
}

#game-info-text, #greeting{
    height: 30px;
    width: 250px;
    padding: 12px;
    background: #224f84;
    color: white;
    text-shadow: 1px 1px 1px black;
    border: 3px solid white;
    
}
#game-info-text {
    border-radius: 20px 0px 0px 20px;
    border-right: 2px solid #56b695;
}

#greeting {
    background: #38828c;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
}

#game-info-value {
    padding: 6px;
    background: #436892;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px black inset;
    
}

#game {
    position: relative;
    margin: 0px auto;
}

#game i {
    text-align: center;
    height: 77px;
    width: 130px;
    margin: 2px 5px;
    padding-top: 10px;
    border-radius: 5px;
    color: #7d7d7d;
    box-shadow: 1px 1px 1px black;
}

.card-back {
    background-image: url('../img/back.png');
    background-size: contain;
}
.card-front {
    background-image: url('../img/front.png');
    background-size: contain;
}

/* Victory sign */
#game h2 {
    height: 220px;
    width: 425px;
    margin: 0px auto;
    padding-top: 175px;
    text-align: center;
    font-size: 72px;
    color: green;
    text-shadow: 1px 1px 1px black;
    background-image: url('../img/penguin.png');
}