body {
    background-color: lightblue;
}

#game {
    position: relative;
    margin: 0px auto;
}

#game i {
    text-align: center;
    height: 85px;
    width: 150px;
    margin: 2px 5px;
    padding-top: 15px;
    border-radius: 5px;
    color: #7d7d7d;
    box-shadow: 1px 1px 1px black;
}

.card-back {
    background-image: url('../img/back.png');
}
.card-front {
    background-image: url('../img/front.png');
}