{% extends "base.html" %}
{% block import %}
    <script type="text/javascript" src="{{ url_for ('static', filename='JS/main.js')}}" defer></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='CSS/game_style.css')}}" >    
{% endblock %}
{% block title %}Memory game{% endblock %}
{% block content %}
    <header>
        <span id="game-info-text">
            You have selected a(n) <span id="game-info-value">{{ rows }} x {{ cols }}</span> board.
        </span>
        <span id="greeting">
                {% if (rows or cols) < 3 %}
                    Going for the easy win, huh?
                {% elif (rows and cols) > 6 %}
                    This will take a while
                {% else %}
                    Good luck!
                {% endif %}
        </span>
    </header>

    <div id="wrapper">
        <div id="game" data-rows='{{ rows }}' data-cols='{{ cols }}' data-cards='{{ cards }}'></div>
        <div class="button"><a id="back" href="{{url_for('index_page')}}">I give up</a></div>
    </div>
{% endblock %}