{% extends "base.html" %}
{% block script %}
    <script type="text/javascript" src="{{ url_for ('static', filename='JS/main.js')}}" defer></script>
{% endblock %}
{% block title %}Memory game{% endblock %}
{% block content %}
    <header>
        <div id="image">
            <span id="game-info-text">
                You have selected a(n) <span id="game-info-value">{{ rows }} x {{ cols }}</span> board.
            </span>
            <span id="greeting">
                    {% if (rows or cols) < 3 %}
                        Going for the easy win, huh?
                    {% elif (rows and cols) > 6 %}
                        This will take a while
                    {% else %}
                        Good luck!
                    {% endif %}
            </span>
        </div>
    </header> 

    <div id="game" data-rows='{{ rows }}' data-cols='{{ cols }}' data-cards='{{ cards }}'></div>

    <a class="button" id="back" href="{{url_for('index_page')}}">I give up</a>
{% endblock %}